<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NeiBuLei/src/com/neibulei/Exercise_P215_1_uncompleted.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.neibulei.Exercise_P215_1_uncompleted"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="NeiBuLei"/>
</launchConfiguration>
